html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  outline: 0; }

input {
  outline: 0;
  -webkit-appearance: none; }

input::-moz-focus-inner {
  border: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?g9f2yq");
  src: url("../fonts/icomoon.eot?g9f2yq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g9f2yq") format("truetype"), url("../fonts/icomoon.woff?g9f2yq") format("woff"), url("../fonts/icomoon.svg?g9f2yq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-list:before {
  content: "\e908"; }

.icon-cancel:before {
  content: "\e909"; }

.icon-close:before {
  content: "\e909"; }

.icon-remove:before {
  content: "\e909"; }

.icon-dismiss:before {
  content: "\e909"; }

.icon-search:before {
  content: "\e900"; }

.icon-social-facebook:before {
  content: "\e901"; }

.icon-social-twitter:before {
  content: "\e902"; }

.icon-user:before {
  content: "\e903"; }

.icon-instagram:before {
  content: "\e904"; }

.icon-shopping-bag:before {
  content: "\e905"; }

.icon-triangle-right:before {
  content: "\e906"; }

.icon-triangle-right2:before {
  content: "\e907"; }

.wrapper {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

body {
  font-family: "Roboto Slab", serif; }

header.desktop {
  width: 100%;
  padding-bottom: 20px;
  font-weight: 300;
  position: fixed;
  background-color: white;
  z-index: 10000; }
  header.desktop img {
    float: left;
    margin-top: 36px; }
  header.desktop span {
    float: right;
    border: solid 1px gray;
    padding: 10px;
    margin-top: 36px; }
    header.desktop span.icon-search {
      font-size: 20px; }
      header.desktop span.icon-search:hover {
        color: white;
        background-color: gray; }
    header.desktop span.icon-list {
      font-size: 20px; }
      header.desktop span.icon-list:hover {
        color: white;
        background-color: gray; }
      @media (min-width: 1180px) and (max-width: 10000px) {
        header.desktop span.icon-list {
          display: none; } }
  header.desktop input {
    float: right;
    margin-top: 36px;
    display: none;
    border: solid 1px gray;
    border-right: none;
    font-size: 14px;
    padding: 12px; }
  header.desktop nav div.box span.icon-cancel {
    font-size: 20px; }
    header.desktop nav div.box span.icon-cancel:hover {
      color: white;
      background-color: gray; }
    @media (min-width: 1180px) and (max-width: 10000px) {
      header.desktop nav div.box span.icon-cancel {
        display: none; } }
  header.desktop nav div.box .left {
    float: left;
    margin-top: 52px; }
    @media (min-width: 0) and (max-width: 1179px) {
      header.desktop nav div.box .left {
        float: none;
        margin-bottom: 30px;
        margin-top: 80px; } }
    header.desktop nav div.box .left a {
      text-decoration: none;
      color: black; }
      header.desktop nav div.box .left a:hover {
        text-decoration: underline; }
    header.desktop nav div.box .left li {
      display: inline-block;
      margin-left: 52px; }
      @media (min-width: 0) and (max-width: 1179px) {
        header.desktop nav div.box .left li {
          display: block;
          margin-bottom: 10px; } }
  header.desktop nav div.box aside ul {
    float: right;
    position: relative; }
    @media (min-width: 0) and (max-width: 1179px) {
      header.desktop nav div.box aside ul {
        float: none; } }
    header.desktop nav div.box aside ul li {
      display: inline-block;
      margin-top: 52px; }
      @media (min-width: 0) and (max-width: 1179px) {
        header.desktop nav div.box aside ul li {
          margin-left: 0px;
          margin-top: 0px;
          display: block;
          margin-bottom: 10px; } }
      header.desktop nav div.box aside ul li div {
        display: inline-block;
        margin-left: 52px; }
      header.desktop nav div.box aside ul li a {
        text-decoration: none;
        color: black; }
        header.desktop nav div.box aside ul li a:hover {
          text-decoration: underline; }
      header.desktop nav div.box aside ul li:nth-child(even) {
        margin-left: 0px; }
      header.desktop nav div.box aside ul li:nth-child(2) {
        margin-right: 6px; }
  @media (min-width: 0) and (max-width: 1179px) {
    header.desktop nav div.box {
      right: 0;
      height: 100%;
      width: 320px;
      background-color: white;
      position: fixed;
      text-align: center;
      right: -320px; } }

section.new {
  height: 800px;
  background: #0B486B;
  background: -webkit-linear-gradient(left, #F56217, #0B486B);
  background: -o-linear-gradient(left, #F56217, #0B486B);
  background: -webkit-gradient(linear, left top, right top, from(#F56217), to(#0B486B));
  background: linear-gradient(to right, #F56217, #0B486B);
  background-size: cover;
  background-position: right; }
  section.new div article {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right; }
    section.new div article h1 {
      font-size: 60px;
      margin-bottom: 20px; }
      @media (min-width: 0) and (max-width: 600px) {
        section.new div article h1 {
          font-size: 40px; } }
    section.new div article h2 {
      font-size: 20px;
      font-style: italic;
      font-family: georgia;
      margin-bottom: 50px; }
      @media (min-width: 0) and (max-width: 600px) {
        section.new div article h2 {
          font-size: 18px; } }
    section.new div article a {
      font-size: 14px;
      text-decoration: none;
      border: solid 1px #ff6600;
      border-radius: 50px;
      background-color: #ff6600;
      color: black;
      padding: 20px; }
      section.new div article a:hover {
        background-color: black;
        color: orange;
        border: solid 1px black; }
      @media (min-width: 0) and (max-width: 600px) {
        section.new div article a {
          font-size: 12px; } }

section.highlights {
  padding-top: 10px; }
  section.highlights div.wrapper {
    overflow: hidden; }
  section.highlights div ul li {
    width: 25%;
    height: 295px;
    color: white;
    float: left;
    border: solid; }
    @media (min-width: 800px) and (max-width: 1179px) {
      section.highlights div ul li {
        width: 33.333%; } }
    @media (min-width: 530px) and (max-width: 799px) {
      section.highlights div ul li {
        width: 50%; } }
    @media (min-width: 0) and (max-width: 529px) {
      section.highlights div ul li {
        width: 100%; } }
    section.highlights div ul li.big {
      height: 590px;
      background-color: #d2d2d2;
      background-position: 50%;
      background-size: cover; }
      section.highlights div ul li.big article {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center; }
        section.highlights div ul li.big article h1 {
          font-size: 24px;
          padding: 10px; }
        section.highlights div ul li.big article h2 {
          font-size: 18px;
          font-style: italic;
          font-weight: 300; }
      section.highlights div ul li.big:nth-child(7) {
        float: right;
        background-size: cover;
        background-position: top; }
    section.highlights div ul li.twitter {
      background-color: #bbbbbb;
      background-size: cover;
      background-position: top; }
      section.highlights div ul li.twitter article {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: georgia;
        font-style: italic;
        text-align: center; }
        section.highlights div ul li.twitter article div {
          width: 30px;
          position: relative;
          margin: 0 auto; }
          section.highlights div ul li.twitter article div:before {
            content: '';
            height: 1px;
            width: 20px;
            position: absolute;
            display: block;
            background-color: white;
            left: -30px;
            top: 15px; }
          section.highlights div ul li.twitter article div:after {
            content: '';
            height: 1px;
            width: 20px;
            position: absolute;
            display: block;
            background-color: white;
            top: 15px;
            right: -30px; }
          section.highlights div ul li.twitter article div span {
            font-size: 30px; }
        section.highlights div ul li.twitter article p {
          font-size: 14px;
          text-align: center;
          padding: 10px 40px; }
    section.highlights div ul li.blank {
      background-color: #dbdbdb;
      background-size: cover;
      background-position: top; }
    section.highlights div ul li.product {
      background-color: #606060;
      background-size: cover;
      background-position: top; }
      section.highlights div ul li.product article {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center; }
        section.highlights div ul li.product article span {
          font-size: 35px;
          margin-bottom: 10px; }
        section.highlights div ul li.product article h1 {
          font-size: 24px;
          padding: 10px; }
        section.highlights div ul li.product article h2 {
          font-size: 18px;
          font-style: italic;
          font-weight: 300; }
    section.highlights div ul li.price {
      background-color: #cacaca;
      background-size: cover;
      background-position: top; }
      section.highlights div ul li.price article {
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center; }
        section.highlights div ul li.price article h1 {
          font-size: 24px;
          padding: 10px; }
        section.highlights div ul li.price article h2 {
          font-size: 18px;
          font-weight: 300; }

section.email {
  height: 455px; }
  section.email div article {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }
  section.email div h1 {
    font-size: 36px;
    margin-bottom: 20px; }
  section.email div h3 {
    font-size: 18px;
    font-family: georgia;
    color: grey;
    font-style: italic;
    margin-bottom: 20px; }
  section.email div form {
    font-size: 0px; }
    section.email div form input[type=email] {
      height: 55px;
      width: 475px;
      color: grey;
      font-style: italic;
      border: solid 1px black;
      padding: 0px;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      padding-left: 10px; }
      @media (min-width: 0) and (max-width: 639px) {
        section.email div form input[type=email] {
          max-width: 320px;
          width: 100%;
          border-bottom-right-radius: 50px;
          border-top-right-radius: 50px;
          padding-left: 10px; } }
    section.email div form input[type=submit] {
      height: 55px;
      width: 95px;
      color: black;
      background-color: #ff6600;
      border: solid 1px #ff6600;
      padding: 0px;
      border-bottom-right-radius: 50px;
      border-top-right-radius: 50px; }
      section.email div form input[type=submit]:hover {
        background-color: black;
        color: orange;
        border: solid 1px black; }
      @media (min-width: 0) and (max-width: 639px) {
        section.email div form input[type=submit] {
          max-width: 320px;
          width: 100%;
          border-bottom-left-radius: 50px;
          border-top-left-radius: 50px; } }

section.carousel {
  margin-bottom: 30px;
  height: 380px; }
  @media (min-width: 0) and (max-width: 606px) {
    section.carousel {
      display: none; } }
  section.carousel div {
    max-width: 1180px;
    width: 100%; }
    section.carousel div article {
      position: relative;
      height: 100%;
      font-size: 0; }
      section.carousel div article img {
        display: inline-block;
        width: 3.38%;
        background: white;
        vertical-align: top;
        font-size: 60px;
        padding-top: 190px;
        text-decoration: none;
        color: black;
        font-weight: lighter;
        font-family: cursive; }
        section.carousel div article img.prev {
          left: 0;
          text-align: right; }
        section.carousel div article img.next {
          right: 0;
          text-align: left; }
      section.carousel div article ul {
        display: inline-block;
        font-size: 0px;
        background-color: grey;
        text-align: center;
        width: 93.22%;
        height: 100%;
        overflow: hidden; }
        @media (min-width: 607px) and (max-width: 1900px) {
          section.carousel div article ul {
            overflow: hidden; } }
        section.carousel div article ul li {
          width: 100%;
          background-size: cover;
          background-position: top;
          height: 100%;
          display: none; }
          section.carousel div article ul li.active {
            display: inline-block; }

footer div.wrapper {
  overflow: hidden;
  margin-bottom: 30px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    footer div.wrapper {
      overflow: visible; } }
  @media (min-width: 0) and (max-width: 599px) {
    footer div.wrapper {
      overflow: visible; } }

footer div article {
  position: relative;
  line-height: 20px; }
  footer div article .collection {
    display: inline-block;
    width: 24%;
    padding-top: 10px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      footer div article .collection {
        width: 49%; } }
    @media (min-width: 0) and (max-width: 599px) {
      footer div article .collection {
        width: 100%; } }
    footer div article .collection h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .collection h3 {
          text-align: center; } }
    footer div article .collection ul li {
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .collection ul li {
          text-align: center; } }
      footer div article .collection ul li a {
        font-size: 12px;
        text-align: left;
        text-decoration: none;
        color: grey; }
        footer div article .collection ul li a:hover {
          text-decoration: underline; }
  footer div article .site {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    padding-top: 10px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      footer div article .site {
        width: 49%; } }
    @media (min-width: 0) and (max-width: 599px) {
      footer div article .site {
        width: 100%;
        text-align: center; } }
    footer div article .site:before {
      content: '';
      width: 1px;
      height: 100%;
      margin-left: -10px;
      display: block;
      background-color: lightgray;
      position: absolute; }
      @media (min-width: 600px) and (max-width: 1200px) {
        footer div article .site:before {
          display: none; } }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .site:before {
          content: '';
          width: 100%;
          height: 1px;
          margin-left: 0px;
          display: block;
          background-color: lightgray;
          position: absolute; } }
    footer div article .site h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .site h3 {
          text-align: center;
          margin-top: 10px; } }
    footer div article .site ul li {
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .site ul li {
          text-align: center; } }
      footer div article .site ul li a {
        font-size: 12px;
        text-align: left;
        text-decoration: none;
        color: grey; }
        footer div article .site ul li a:hover {
          text-decoration: underline; }
  footer div article .shop {
    display: inline-block;
    width: 24%;
    padding-top: 10px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      footer div article .shop {
        width: 49%; } }
    @media (min-width: 0) and (max-width: 599px) {
      footer div article .shop {
        width: 100%;
        text-align: center; } }
    footer div article .shop:before {
      content: '';
      width: 1px;
      height: 100%;
      margin-left: -10px;
      display: block;
      background-color: lightgray;
      position: absolute; }
      @media (min-width: 600px) and (max-width: 1199px) {
        footer div article .shop:before {
          content: '';
          width: 40%;
          height: 1px;
          margin-left: 0px;
          display: block;
          background-color: lightgray;
          position: absolute; } }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .shop:before {
          content: '';
          width: 100%;
          height: 1px;
          margin-left: 0px;
          display: block;
          background-color: lightgray;
          position: absolute; } }
    footer div article .shop h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .shop h3 {
          text-align: center;
          margin-top: 10px; } }
    footer div article .shop ul li {
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .shop ul li {
          text-align: center; } }
      footer div article .shop ul li a {
        font-size: 12px;
        text-decoration: none;
        color: grey; }
        footer div article .shop ul li a:hover {
          text-decoration: underline; }
  footer div article .social {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    padding-top: 10px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      footer div article .social {
        width: 49%; } }
    @media (min-width: 0) and (max-width: 599px) {
      footer div article .social {
        width: 100%;
        text-align: center; } }
    footer div article .social:before {
      content: '';
      width: 1px;
      height: 100%;
      margin-left: -10px;
      display: block;
      background-color: lightgray;
      position: absolute; }
      @media (min-width: 600px) and (max-width: 1199px) {
        footer div article .social:before {
          content: '';
          width: 40%;
          height: 1px;
          margin-left: 0px;
          display: block;
          background-color: lightgray;
          position: absolute; } }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .social:before {
          content: '';
          width: 100%;
          height: 1px;
          margin-left: 0px;
          display: block;
          background-color: lightgray;
          position: absolute; } }
    footer div article .social h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 14px;
      text-align: left; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .social h3 {
          text-align: center;
          margin-top: 10px; } }
    footer div article .social p {
      font-size: 12px;
      text-align: left;
      color: grey;
      margin-bottom: 26px; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .social p {
          text-align: center; } }
    footer div article .social span {
      color: grey;
      text-align: left;
      border: solid 1px #606060;
      padding: 10px; }
      footer div article .social span:hover {
        color: white;
        background-color: gray; }
      @media (min-width: 0) and (max-width: 599px) {
        footer div article .social span {
          text-align: center; } }
